footer {
    background: #4354a3;
    padding: 40px 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-menu h3 {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.footer-menu a {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: var(--font-family);
}

.footer-item-two div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.footer-item-two div h3 {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.footer-item-two div a {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    font-family: var(--font-family);
    text-decoration: none;
}

.footer-item-three div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.opacity {
    opacity: 0;
}

.footer-item-three div h3 {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.footer-item-three div a {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    max-width: 152px;
    font-family: var(--font-family);
}

.footer-container-right,
.footer-container-left {
    display: flex;
    justify-content: space-between;
}

.footer-container-right {
    flex: 1;
}

.footer-container-left {
    flex: 1.5;
}

.footer-container-left div img {
    width: 100%;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}



@media screen and (max-width: 994px) {
    .footer-container-right {
        flex-direction: column;
        gap: 25px;
    }

    .footer-menu a, 
    .footer-menu h3,
    .footer-item-three div a  {
        font-size: 14px;
    }

    .footer-container-right {
        flex: 1;
    }
    
    .footer-container-left {
        flex: 3;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-container-right {
        flex-direction: row;
    }

    footer {
        padding: 40px 20px;
    }

    .desktop-only {
        display: none;
    }
    
    .mobile-only {
        display: block;
    }

    .footer-container-left div img {
        max-width: 135px;
    }

    .footer-item-two,
    .footer-item-three {
        flex: 1;
    }


}