@font-face {
    font-family: 'Helvetica Neue LT W1 GBd';
    src: url('/fonts/Helvetica\ Neue\ LT\ W1G\ 55\ Roman.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT W1 G Blk';
    src: url('/fonts/HelveticaNeueLTW1GBlk.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT W1 G Italic';
    src: url('/fonts/HelveticaNeueLTW1GIt.otf') format('opentype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT W1 G Medium';
    src: url('/fonts/HelveticaNeueLTW1GMd.otf') format('opentype');
    font-weight: 500; /* Обычно medium соответствует 500 */
    font-style: normal;
}


:root {
	--font-family: "Helvetica Neue LT W1 GBd";
	--font-family-bold: "Helvetica Neue LT W1 G Blk";
	--font-family-italic: "Helvetica Neue LT W1 G Italic";
	--font-family-medium: "Helvetica Neue LT W1 G Medium";
}

*, *::before, *::after {
    box-sizing: border-box;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: var(--font-family-medium);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrapper {
    max-width: 1142px;
    margin: 0 auto;
}

.flex {
	display: flex;	
	align-items: center;
}

button {
	cursor: pointer;
}

.h2{
    font-weight: 700;
    font-size: 47px;
    text-transform: uppercase;
    color: #061766;
    margin-bottom: 50px;
}

.h2-span{
    color: #307ff9;
}

@media screen and (max-width: 948px) {
    .h2{
        font-size: 36px;
    }
}

@media screen and (max-width: 767px) {
    .h2{
        margin-bottom: 30px;
        font-size: 24px;
    }
}


/* form start */

.form-right-continer h3 {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #061766;
    margin-bottom: 49px;
}

.form-right-continer button {
    background: #fff;
    border: 1px solid #307ff9;
    padding: 7px 15px;
    gap: 19px;
}

.btn-submit-about span {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.form-right-continer {
    background: url('/img/bgf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.form-grid div input::placeholder, 
.form-grid div textarea::placeholder,
.form-grid div input,
.form-grid div textarea{
    font-weight: 400;
    font-size: 20px;
    color: #181818a8;
    /* opacity: 0.6; */
}

.btn-submit-about {
    background: #307ff9;
    gap: 35px;
    border: none;
    width: 100%;
    justify-content: center;
    padding: 15px;
}

.form-container > :nth-child(2) {
    flex: 1;
}

.form-grid div input, .form-grid div textarea {
    background: #fff;
    border: 1px solid #e5eaf7;
    outline: none;
    padding: 14px 30px;
    width: 100%;
}

.form-grid div textarea {
    min-height: 156px;
    resize: none;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}

.form-grid > :nth-child(5) {
    grid-column: span 2;
}

.form-container {
    display: flex;
    gap: 19px;
}

.form-container > :nth-child(1) {
    flex: 2;
}

.form-margin-title {
    margin-bottom: 10px!important;
}

.about-form-description {
    font-weight: 400;
    font-size: 20px;
    color: #181818;
    font-family: var(--font-family);
    margin-bottom: 26px;
}

.about-form {
    padding:  0 30px 130px 30px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container form > :nth-child(1) {
    margin-bottom: 30px;
}

/* form end */


@media screen and (max-width: 948px) {
    .about-form {
        padding:  0 30px 110px 30px;
    }

    .form-right-continer h3  {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .form-grid div input::placeholder, 
    .form-grid div textarea::placeholder, 
    .form-grid div input, 
    .form-grid div textarea {
        font-size: 12px;
    }

    .form-container form > :nth-child(1) {
        margin-bottom: 10px;
    }

    .form-grid {
        gap: 10px;
    }

    .form-grid div textarea {
        min-height: 106px;
    }
}

@media screen and (max-width: 767px) {
    .about-form {
        padding:  0 20px 50px 20px;
    }

    .form-container {
        flex-direction: column;
    }

    .form-right-continer {
        padding: 40px 0;
    }

    .form-grid  {
        display: flex;
        flex-direction: column;
    }

    .form-grid div input {
        display: block;
    }
}