@import url('/css/all/style.css');

.about-hero {
    background: url('/img/about-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-hero div h1 {
    font-weight: 900;
    font-size: 64px;
    text-transform: uppercase;
    color: #fff;
    font-family: var(--font-family-bold);
}

/* export start */

.export {
    padding: 130px 30px;
    background: linear-gradient(2deg, #fff 0%, #e5eaf7 100%);
}

.export_container {
    display: flex;
    gap: 28px;
}

.export_container > :nth-child(1) h5 {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #307ff9;
    margin-bottom: 8px;
}

.export_container > :nth-child(1) p {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    font-family: var(--font-family);
}

.margin-about {
    margin-bottom: 30px;
}

/* export end */

/* about-services start */

.about-services-container {
    display: flex;
    background: url('/img/bg-export.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-services-container > :nth-child(1),
.about-services-container > :nth-child(2),
.about-services-container > :nth-child(3) {
    flex: 1;
}

.about-services-item-border {
    border-right: 1px solid #fff;
}

.about-services-item > :nth-child(1) {
    margin-bottom: 35px;
} 

.about-services-item > :nth-child(2) {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}

.about-services-item > :nth-child(3) {
    font-weight: 900;
    font-size: 20px;
    background: linear-gradient(180deg, #b1cfff 2.9%, #307ff9 55.83%, #b1cfff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 26px;
}

.about-services-item > :nth-child(4) {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    font-family: var(--font-family);
}

.about-services-item {
    padding: 132px 24px 38px 20px;
}

.about-services {
    padding:  0 30px 130px 30px;
}

/* about-services end */


/* advantages start */

.advantages {
    padding:  0 30px 130px 30px;
}

.advantages-item {
    display: flex;
    margin-bottom: 30px;
}

.margin-advantages {
    margin-bottom: 0!important;
}

.advantages-item-right {
    padding: 61px 60px;
    background: linear-gradient(2deg, #fff 0%, #e5eaf7 100%);
    flex: 1;
}

.advantages-item-right h3 {
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    color: #307ff9;
}

.advantages-item-right h4 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #061766;
    margin-bottom: 19px;
}

.advantages-item-right p {
    font-weight: 500;
    font-size: 28px;
    color: #181818;
}

.export_container > :first-child,
.export_container > :last-child{
    flex: 1;
}

.export_container > :last-child img {
    width: 100%;
}

/* advantages end */

@media screen and (max-width: 948px) {
    .export {
        padding: 110px 30px;
    }

    .export_container h2 {
        margin-bottom: 26px!important;
    }

    .advantages-item img {
        width: 100%;
    }

    .advantages-item-right {
        padding: 24px 0 44px 40px;
    }

    .advantages-item > :first-child,
    .advantages-item > :last-child {
        flex: 1;
    }

    .advantages-item-right h3 {
        font-size: 28px;
    }

    .advantages-item-right p,
    .advantages-item-right h4  {
        font-size: 20px;
    }
 
    .export_container > :nth-child(1) p {
        font-size: 14px;
    }

    .export_container > :nth-child(1) h5  {
        font-size: 16px;
    }

    .about-services {
        padding:  0 30px 110px 30px;
    }

    .advantages {
        padding:  0 30px 110px 30px;
    }

    .about-hero div h1 {
        font-size: 48px;
      }
      
      .about-hero {
        min-height: 260px;
      }

      .about-services-item > :nth-child(2),
      .about-services-item > :nth-child(3)  {
        font-size: 14px;
        margin-bottom: 5px;
      }

      .about-services-item > :nth-child(1) {
        margin-bottom: 20px;
        margin-bottom: 5px;
      }

      .about-services-item > :nth-child(4)  {
        font-size: 12px;
      }
}

@media screen and (max-width: 767px) {
    .export {
        padding: 50px 20px;
    }

    .advantages-item {
        flex-direction: column;
    }

    .advantages-item-right h3 {
        font-size: 24px;
    }

    .advantages-item-right {
        padding: 31px 0 53px 20px;
    }

    .advantages-item-right h4 {
        font-size: 18px;
    }

    .advantages-item-right p {
        font-size: 16px;
    }

    .advantages .wrapper > :nth-child(3),
    .advantages .wrapper > :nth-child(5){
        flex-direction: column-reverse;
    }

    .about-hero {
        min-height: 164px;
      }
      
      
      .about-hero div h1 {
        font-size: 28px;
      }

    .about-services {
        padding:  0 20px 50px 20px;
    }

    .advantages {
        padding:  0 20px 50px 20px;
    }

    .export_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 684px) {
    .about-services-container {
        flex-direction: column;
        background: url(/img/bg-export.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .about-services-item {
        padding: 32px 40px 20px 20px;
    }

    .about-services-item > :nth-child(4) {
        max-width: 350px;
    }

    .about-services-item-border {
        border-right: none;
        border-bottom: 1px solid #fff;
    }
}
